*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #2a213a;
}
/* Variables */
:root{
    --zing-logo: url(/src/images/index/logo/logo-dark.svg);
    /* --switch-content:"Danh sách phát"; */
}

.row{
    display: flex;
    height: 100%;
}
.row .left{
    margin: 0;
    flex: 14%;
    /* background-color: #2a213a; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row .middle{
    /* flex-grow: 1; */
    flex: 68%;
    background-color: #170f23;
    padding: 14px 24px;
    overflow: auto;
}
.row .right{
    flex: 18%;
    overflow: auto;
    background-color: #170f23;
    border-left: 1px solid #2d2033;
    padding: 20px 10px 0 10px;
}

::-webkit-scrollbar {
    width: 4px;
    opacity:0;
    background: transparent;
}
::-webkit-scrollbar:hover{
    opacity: 1;
}
.row .middle:hover::-webkit-scrollbar-thumb{
    background: #6d6775; 
    border-radius: 5px;
}
.row .right:hover::-webkit-scrollbar-thumb{
    background: #6d6775; 
    border-radius: 5px;
}