.middle .nav-middle{
    display: flex;
    align-items: center;
}
.middle  .navigation {
    color: #2f2739;
    font-size: 20px
}
.middle .navigation i{
    cursor:pointer;
    padding-right: 14px;
}
/* search box ==============================*/
.middle .search{
    flex-grow: 1;
    padding-left: 20px;
}
.middle .input-text{
    position: relative;
}
.middle .input-text > .fa-search{
    position: absolute;
    color: #ccc;
    font-size: 20px;
    left: 10px;
    top:50%;
    margin-top: -10px;
}
/* X clear icon */
.middle .input-text .fa-times{
    position: absolute;
    left: 48%;
    top: 50%;
    margin-top: -10px;
    color:#ccc;
    font-size: 20px;
    display: none;
}
    
.middle .search input{
    width: 52%;
    display: block;
    background-color: #2f2739;
    border:none;
    height: 38px;
    border-radius: 34px;
    padding-left: 4%;
    font-size: 16px;
}
.middle .search input:focus{
    outline-width: 0;
    color: #ccc;
    background-color: #463675;
    padding-left: 4%;
    font-size: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
.middle .search input:focus ~ .fa-times{
    display: block;
    cursor:pointer;
    z-index: 1;
}
.middle .search input:focus + .suggest{
    display: block;
}
.middle .suggest{
    position: absolute;
    list-style: none;
    color:#ccc;
    top:38px;
    background-color: #463675;
    /* padding-left: 20px; */
    padding-top: 14px;
    width:52%;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    display: none;
}
.middle .suggest li{
    padding: 10px 0 10px 30px;
    cursor:pointer;
    margin: 0 12px;
    border-radius: 4px;
    /* margin: 10px; */
}
.middle .suggest li:hover{
    background-color: #573f83;
    margin: 0 12px;
}
.middle .suggest li i{
    padding-right: 12px;
}
.middle .nav-setting{
    color: #ccc;
    display: flex;
}
.middle .nav-setting > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2739;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 17px;
    margin:0 8px;
    cursor:pointer;
}
/* search box end=================================*/
/* slideshow */ 
.middle .slideshow{
    padding-top: 34px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;

}
.middle .slideshow img{
    width: 30%;
}
.middle #left-btn{
    position: absolute;
    left: 2%;
    top:50%;
    font-size: 32px;
    margin-top: -16px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:none;
    color:#ccc;
    background-color: hsla(0,0%,100%,.15);
    cursor:pointer;
}
.middle #right-btn{
    position: absolute;
    right: 2%;
    top:50%;
    font-size: 32px;
    font-weight: lighter;
    margin-top: -16px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:none;
    color:#ccc;
    background-color: hsla(0,0%,100%,.15);
    cursor:pointer;

}