
/* Logo nav-left */
.logo-container{
    width: 100%;
    padding: 18px 0 0 28px;
  
}
.logo-container .zing-logo{
    background-image: var(--zing-logo);
    width: 60%;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Logo nav-left */

/* Navigation left */
.playlist{
    width: 100%;
    height: auto;
    /* padding-top: 0; */
}
.playlist ul{
    list-style: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.playlist li{
    padding: 12px 28px;
    width: 100%;
}
.playlist li a{
    text-decoration: none;
    color: #dadada;
    padding-left: 16px;
}
.playlist ul .active{
    background-color: #3c2c43;
    border-left: solid 2px #87009f;
}
.playlist li a:hover{
    color: white;
}
.divide::after{
    content: "";
    border-top: 1px solid #3c2c43;
    width: 80%;
    display: block;
    margin: 0 10%;
}
.divide-full::after{
    content: "";
    border-bottom:1px solid #3c2c43; 
    width: 100%;
    display: block;
}
.playlist > h5{
    color:white;
    padding-left: 28px;
}
.create-list{
    padding: 18px 28px;
    color:white;
    display: block;
}
.create-list span{
   padding-left: 16px;
}
/* Navigation left */

/* Player */
.player-controls-container{
    background-color: #15051c;
    position: fixed;
    bottom: 0;
}