.white{
    color: #fff;
}
/* Logo nav-left */
.logo-container{
    width: 100%;
    padding: 18px 0 0 10px;
  
}
.logo-container .zing-logo{
    background-image: var(--zing-logo);
    width: 60%;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Logo nav-left end */

/* Navigation left>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.playlist{
    width: 100%;
    padding: 14px 0;
}
.playlist ul{
    list-style: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.playlist li{
    padding: 12px 28px;
    width: 100%;
}
.playlist li a{
    text-decoration: none;
    color: #dadada;
    padding-left: 16px;
}
.playlist ul .active{
    background-color: #3c2c43;
    border-left: solid 2px #87009f;
}
.playlist li a:hover{
    color: white;
}
.divide::after{
    content: "";
    border-top: 1px solid #3c2c43;
    width: 80%;
    display: block;
    margin: 0 10%;
}
.playlist > h5{
    color:white;
    padding-left: 28px;
}
.create-list{
    padding: 18px 28px;
    color:white;
    border-top: 1px solid #3c2c43;
}
.create-list span{
   padding-left: 16px;
}
/* Navigation left end >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Player fixed bottom >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.fixed-bottom{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #2d2033;
}
.player-controls-container{
    background-color: #15051c;
    display: flex;
    width: 100%;

}
/* left player -----------------------------------*/
.player-controls-left{
    flex: 20%;
    display: block;
    padding: .5% 2%;
}
.player-controls-left .media{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.player-controls-left .media .img{
    width: 70px;
    height: 70px;
    background-image: url(/src/images/index/ABBA_-_TopPop_1974_5.png);
    background-position: center;
    background-size: cover;
    display: block;
    border-radius: 50%;
}
.player-controls-left .content{
    color:white;
    padding-left: 14px;
    flex-grow: 1;
}
.player-controls-left .singer{
    margin-top: 8px;
    font-size: 12px;
}
.player-controls-left .love span{
    margin-right: 10px;
}
/* left player end------------------------------------------ */
/* middle player---------------------------------------- */
.player-controls{
    flex:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player-controls .player{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player .audio_player{
    width: 50%;
}
/* Button player */

.fas-revert{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.player_button{
    margin-bottom: 5px;
    color:white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#play_pause{
    cursor: pointer;
}
.player_button .small{
    font-size: 20px;
    padding:0 40px;
    display: block;
    cursor: pointer;
}
/* Button player end */
/* progress bar */
.player .progress_background_play {
    width: 100%;
    background-color: #5b5260;
    height: 2px;
}
#progress_time_play{
    background-color: #ffff;
    height: 1px;
}
/* progress bar end */
/* time number */
.player-controls .count_time, #time_duration{
    color: #8a838d;
    font-size: 14px;
    padding: 0 16px;
}
/* time number end*/
/* middle player end------------------------------------------ */
/* Player fixed bottom end >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* right player------------------------------------------- */
.player-controls-right{
    flex: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.volume{
    width: 30%;
    padding-left: 2%;
}
.volume .progress_volume_bar{
    height: 2px;
    background-color:#5a5561;
    width: 100%;
}
#progress_volume{
    height: 1px;
    background-color:#fff;
}
#volume{
    cursor: pointer;
}
.player-controls-right .full-screen{
    padding:0 5% 0 5%  ;
}
.player-controls-right .fa-microphone{
    /* margin: 0 1%; */
    padding: 0  20px;
}
/* right player end------------------------------------------- */